.classroom-image-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Montserrat, Poppins, Arial, Helvetica, sans-serif;
   
}

.classroomContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px;
    
}

.classroomImage {
    width: 100%;
    clip-path: inset(50px 0px 50px 0px);
    filter: brightness(50%);
}

.logo-and-header {
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
    z-index: 1;
    width: 75%;
    
}

.portalnest-logo {
    max-width: 300px;
    min-width: 200px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    text-wrap: nowrap;
    border-top: 5px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 0px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.get-started {
    background-color: rgb(245, 187, 41);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 20px;
    transition: all 0.25s;
}

.get-started:hover, .add-school:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.get-started:active, .get-started:active {
    opacity: 0.8;
}

.page-message {
    text-align: center;
    font-family: Arial, Helvetica, Poppins, sans-serif;
    color: white;
    z-index: 1;
    margin-top: 150px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.connect {
    font-size: 40px;
    margin: 0;
    animation: typing 3s steps(22, end) forwards, blink 0.7s infinite;
    
}

.everywhere {
    font-size: 85px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    animation: typing 3s steps(22, end) 3.5s forwards, blink 0.7s infinite 3.5s;
}

.connect, .everywhere {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;
    border-right: 3px solid white; /* Cursor effect */
    width: 0;
}

.add-school {
    background-color: rgb(245, 187, 41);
    font-weight: bolder;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 150px;
    transition: all 0.25s;
    width: 350px;
    font-size: 30px;
}