.classroom-image-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
}

.classroomContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    top: -50px;
    
}

.classroomImage {
    width: 100%;
    clip-path: inset(50px 0px 50px 0px);
    filter: brightness(50%);
}