body {
    margin: 0;
}

.topBG-image-content {
    width: 100%;
    min-height: 100vh; 
    background-image: url("/assets/images/TopBgImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    justify-content: space-evenly;
    font-family: Montserrat, Poppins, Arial, Helvetica, sans-serif;
}


.topBG-Container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo-and-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 15%;
    right: 15%;
    
}

.portalnest-logo {
    max-width: 300px;
    min-width: 200px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
    border-top: 5px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 0px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.get-started {
    background-color: rgb(245, 187, 41);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 20px;
    transition: all 0.25s;
}

.get-started:hover, .add-school-button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.get-started:active, .add-school-button:active {
    opacity: 0.8;
}

.page-message {
    text-align: center;
    font-family: Arial, Helvetica, Poppins, sans-serif;
    color: white;
    margin-top: 100px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.connect {
    font-size: 40px;
    margin: 0;
    animation: typing 3s steps(22, end) forwards, blink 0.7s infinite;
    
}

.everywhere {
    font-size: clamp(1.8rem, calc(6vw + 1rem), 5rem);
    font-weight: bold;
    font-stretch: narrower;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    animation: typing 3s steps(22, end) 3.5s forwards, blink 0.7s infinite 3.5s;
}

.connect, .everywhere {
    white-space: nowrap; 
    overflow: hidden;
    border-right: 3px solid white; 
    width: 0;
}

.add-school-button {
    background-color: rgb(245, 187, 41);
    font-weight: bolder;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 150px;
    transition: all 0.25s;
    width: 350px;
    font-size: 30px;
}
.topBG-container .logo-and-header .header { 
  transition:  all 0.25s ease;
}

.topBG-container .logo-and-header .header a div:hover { 
    color: rgb(4, 158, 247);
    
}

.middle-bar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: 90px;
       
}

.middle-bar a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    transition: all 0.3s;
}

.middle-bar a:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(224, 242, 253);
}

.middle-bar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.icons {
    width: 50%;
    margin-bottom: 10px;
}

.middle-bar a p {
    margin: 0;
}

/* For tablets and smaller desktops */
@media (max-width: 1024px) {
    .logo-and-header {
        left: 10%;
        right: 10%;
        margin-bottom: 0;
    }

    .page-message {
        margin-top: 0;
    }
    .header a {
        font-size: 12px;
    }

    .get-started {
        padding: 8px 20px;
    }
    .connect {
        font-size: 30px;
    }

    .everywhere {
        font-size: clamp(1.5rem, calc(5vw + 1rem), 4rem);
    }

    .add-school-button {
        width: 300px;
        font-size: 25px;
    }

    .middle-bar {
        flex-wrap: wrap;
        justify-content: center;
        left: 5%;
        right: 5%;
    }

    .middle-bar a {
        padding: 10px;
        font-size: 10px;
    }

    .middle-bar-icons {
        width: 120px;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    
    .topBG-image-content {
        margin-bottom: 20px;
    }

    .logo-and-header {
        align-items: center;
        left: 5%;
        right: 5%;
    }
    
    .portalnest-logo {
        width: 30px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
        border-top: 0;
    }

    .header a {
        margin: 10px 0;
        
    }

    .get-started {
        margin-top: 10px;
    }

    .page-message {
        padding: 10px;
        margin-right: 10px;
    }

    .connect {
        font-size: 20px;
    }

    .everywhere {
        padding-left: 10px;
        font-size: 7vw;
    }

    .add-school-button {
        width: 250px;
        font-size: 20px;
    }

    .middle-bar {
        flex-wrap: wrap;
        padding: 5px;
        align-self: center;
        
    }
    
    .middle-bar a {
        padding: 10px 0;
        margin-left: 10px;
    }

    .middle-bar a p {
        padding: 5px;
    }

    .middle-bar-icons {
        width: 100%;
        
    }

}

/* For very small mobile devices */
@media (max-width: 480px) {
    .logo-and-header {
        left: 2%;
        right: 2%;
    }

    .header a {
        font-size: 10px;
    }

    .connect {
        font-size: 20px;
    }

    .everywhere {
        font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
    }

    .add-school-button {
        width: 200px;
        font-size: 14px;
    }

    .middle-bar a {
        font-size: 8px;
    }
}