body {
    margin: 0;
}

.overall-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBG-image-content {
    width: 100%;
    min-height: 100vh; 
    background-image: url("/assets/images/TopBgImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
    font-family: Montserrat, Poppins, Arial, Helvetica, sans-serif;
}

.logo-and-header {
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 15%;
    right: 15%;
    margin: 50px 0;
    
}

.portalnest-logo {
    max-width: 300px;
    min-width: 200px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
    padding: 20px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.header::before {
    content: "";
    align-items: center;
    position: absolute;
    top: 8rem; /* Move border up */
    left: 4.1%;
    width: 80%;
    height: 5px; /* Control thickness */
    background: white;
    border-radius: 50px; /* Fully round edges */
}

.header a {
    position: relative; /* Needed for absolute positioning of ::before */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a div {
    position: relative; /* Needed for pseudo-element positioning */
    padding: 10px 15px; /* Add some spacing */
}

/* Border effect */
.header a div::before {
    content: "";
    position: absolute;
    top: -35%; /* Position below the div */
    left: 50%;
    width: 0%; /* Initially hidden */
    height: 5px; /* Thickness */
    background: rgb(29, 146, 255);
    border-radius: 50px; /* Fully round edges */
    transition: all 500ms ease;
    transform: translateX(-50%);
    display: none;
}

/* Show border when hovering over the div */
.header a div:hover::before {
    display: block;
    width: 150%; /* Expand border width */
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.get-started {
    background-color: rgb(245, 187, 41);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 20px;
    transition: all 0.25s;
}

.get-started:hover, .add-school-button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.get-started:active, .add-school-button:active {
    opacity: 0.8;
}

.page-message {
    text-align: center;
    font-family: Arial, Helvetica, Poppins, sans-serif;
    color: white;
    margin-top: 100px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.connect {
    font-size: 40px;
    margin: 0;
    animation: typing 3s steps(22, end) forwards, blink 0.7s infinite;
    
}

.everywhere {
    font-size: clamp(1.8rem, calc(6vw + 1rem), 5rem);
    font-weight: bold;
    font-stretch: narrower;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    animation: typing 3s steps(22, end) 3.5s forwards, blink 0.7s infinite 3.5s;
}

.connect, .everywhere {
    white-space: nowrap; 
    overflow: hidden;
    border-right: 3px solid white; 
    width: 0;
}

.add-school-button {
    background-color: rgb(245, 187, 41);
    font-weight: bolder;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 150px;
    transition: all 0.25s;
    width: 350px;
    font-size: 30px;
}

.topBG-container .logo-and-header .header { 
  transition:  all 1.25s ease;
}

.topBG-container .logo-and-header .header a div:hover { 
    color: rgb(4, 158, 247);
    
}

.middle-bar {
    display: flex;
    align-items: center;
    margin-top: -60px;
    padding: 70px 20px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.middle-bar a {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    transition: all 0.3s;
    padding: 15px;
    border-right: 1px solid;
    border-left: 1px solid;
    margin-right: 30px;
}

.middle-bar a:nth-last-child(2) {
    border: 0;
}

.middle-bar a:last-child {
    margin-right: 0;
}
.middle-bar a:hover {
    cursor: pointer;
    background-color: rgb(224, 242, 253);
    border-radius: 10px;
    padding: 5px;
}

.middle-bar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.icons {
    width: 50%;
    margin-bottom: 10px;
}

.middle-bar a p {
    margin: 0 5px;
    text-align: bottom;
}

.arrow-up-icon {
    display: none;
}

.active  .arrow-up-icon {
    display: inline;
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
    width: 35px;
}

.active .middle-bar-icons {
    background-color: rgb(4, 158, 247);
    color: white;
    border-left-width: 0;
    border-right-width: 0;
    padding: 10% 10%;
    border-radius: 10px;
    width: 100%;
}

.active .middle-bar-icons  img.icons  {
    filter: invert(1); 
}


.active .middle-bar-icons::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0px; /* Border width */
    height: 0; /* Adjust height of the border */
    background: rgb(255, 255, 255); /* Border color */
}

.active .middle-bar-icons::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0px; /* Border width */
    height: 0; /* Adjust height of the border */
    background: rgb(255, 255, 255); /* Border color */
}

/* For tablets and smaller desktops */
@media (max-width: 1024px) {
    .topBG-image-content {
        margin-bottom: -70px;
    }
    .logo-and-header {
        left: 10%;
        right: 10%;
        margin-bottom: 0;
    }

    .page-message {
        margin-top: 60px;
    }
    .header a {
        font-size: 12px;
    }
    
    .header::before {
        content: "";
        align-items: center;
        position: absolute;
        top: 8rem; /* Move border up */
        left: 2.1%;
        width: 100%;
        height: 5px; /* Control thickness */
        background: white;
        border-radius: 50px; /* Fully round edges */
    }
    

    .get-started {
        padding: 8px 20px;
    }
    .connect {
        font-size: 30px;
    }

    .everywhere {
        font-size: clamp(1.5rem, calc(5vw + 1rem), 4rem);
    }

    .add-school-button {
        width: 300px;
        font-size: 25px;
    }

    .middle-bar {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -70px;
        left: 5%;
        right: 5%;
        height: auto;
        padding: 20px;
    }

    .middle-bar a {
        padding: 10px;
        font-size: 10px;
    }

}

/* For mobile devices */
@media (max-width: 768px) {
    
    .topBG-image-content {
        margin-bottom: -100px;
    }

    .logo-and-header {
        align-items: center;
        left: 5%;
        right: 5%;
    }
    
    .portalnest-logo {
        width: 30px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
        border-top: 0;
    }

    .header a {
        margin: 10px 0;
        
    }

    .get-started {
        margin-top: 10px;
    }

    .page-message {
        padding: 10px;
        margin-right: 10px;
    }

    .connect {
        font-size: 20px;
    }

    .everywhere {
        padding-left: 10px;
        font-size: 7vw;
    }

    .add-school-button {
        width: 250px;
        font-size: 20px;
    }

    .middle-bar {
        flex-wrap: wrap;
        padding: 5px;
        margin-top: -70px;
        height: auto;
    }
    
    .middle-bar a {
        flex: 1 1 45%; /* Allow items to wrap and take up space */
        margin: 5px; 
        border-radius: 10px;
    }
    .middle-bar a p {
        padding: 5px;
    }
  
    .arrow-up-icon {
        width: 30px;
    }

}

/* For very small mobile devices */
@media (max-width: 480px) {
    .logo-and-header {
        left: 2%;
        right: 2%;
    }

    .header a {
        font-size: 10px;
    }

    .connect {
        font-size: 20px;
    }

    .everywhere {
        font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
    }

    .add-school-button {
        width: 200px;
        font-size: 14px;
    }

    .middle-bar {
        padding: 10px;
        height: auto;
    }

    .middle-bar a {
        flex: 1 1 100%;
        font-size: 8px;
        border-radius: 10px;
        margin-left: 5px 0;
    }

}