.institution-creation {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .institution-creation .div {
    background-color: #ffffff;
    width: 1598px;
    height: 1024px;
    position: relative;
  }
  
  .institution-creation .animated-preview {
    position: absolute;
    width: 845px;
    height: 1024px;
    top: 0;
    left: 753px;
    background-color: #147aff;
  }
  
  .institution-creation .secure-mobile-apps {
    position: absolute;
    width: 755px;
    height: 543px;
    top: 226px;
    left: 58px;
  }
  
  .institution-creation .INPUT-NAME-form {
    position: absolute;
    width: 428px;
    height: 72px;
    top: 108px;
    left: 58px;
  }
  
  .institution-creation .rectangle {
    width: 426px;
    left: 0;
    position: absolute;
    height: 46px;
    top: 26px;
    background-color: #517dce0d;
    border-radius: 8px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .institution-creation .text-wrapper {
    position: absolute;
    width: 206px;
    height: 16px;
    top: 0;
    left: 0;
    font-family: "Avenir-Heavy", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .institution-creation .INPUT-EMAIL-form {
    position: absolute;
    width: 428px;
    height: 72px;
    top: 197px;
    left: 58px;
  }
  
  .institution-creation .INPUT-hotlines-form {
    position: absolute;
    width: 428px;
    height: 72px;
    top: 284px;
    left: 58px;
  }
  
  .institution-creation .div-2 {
    width: 191px;
    height: 46px;
    background-color: #517dce0d;
    border-color: #000000;
    position: absolute;
    top: 26px;
    left: 0;
    border-radius: 8px;
    border: 2px solid;
  }
  
  .institution-creation .rectangle-2 {
    width: 191px;
    left: 235px;
    position: absolute;
    height: 46px;
    top: 26px;
    background-color: #517dce0d;
    border-radius: 8px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .institution-creation .SCHOOL-hotlines-CALL {
    position: absolute;
    width: 289px;
    height: 16px;
    top: 0;
    left: 0;
    font-family: "Avenir-Heavy", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .institution-creation .INPUT-SCHOOL {
    position: absolute;
    width: 430px;
    height: 72px;
    top: 374px;
    left: 58px;
  }
  
  .institution-creation .rectangle-3 {
    width: 284px;
    height: 46px;
    background-color: #517dce0d;
    border-color: #000000;
    position: absolute;
    top: 26px;
    left: 0;
    border-radius: 8px;
    border: 2px solid;
  }
  
  .institution-creation .overlap-group {
    position: absolute;
    width: 122px;
    height: 46px;
    top: 26px;
    left: 304px;
    background-color: #327aff;
    border-radius: 8px;
  }
  
  .institution-creation .CLICK-TO-USE-CURRENT {
    position: absolute;
    width: 116px;
    height: 27px;
    top: 10px;
    left: 3px;
    font-family: "Avenir-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.10px;
    line-height: normal;
  }
  
  .institution-creation .ABOUT-SCHOOL-form {
    position: absolute;
    width: 428px;
    height: 169px;
    top: 558px;
    left: 58px;
  }
  
  .institution-creation .rectangle-4 {
    width: 426px;
    height: 143px;
    background-color: #517dce08;
    border-color: #0000002b;
    position: absolute;
    top: 26px;
    left: 0;
    border-radius: 8px;
    border: 2px solid;
  }
  
  .institution-creation .select-district-form {
    position: absolute;
    width: 208px;
    height: 72px;
    top: 463px;
    left: 58px;
  }
  
  .institution-creation .chevron-down {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 9px;
    left: 147px;
  }
  
  .institution-creation .select-school-type {
    position: absolute;
    width: 208px;
    height: 72px;
    top: 462px;
    left: 293px;
  }
  
  .institution-creation .img {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 10px;
    left: 146px;
  }
  
  .institution-creation .UPLOADS {
    position: absolute;
    width: 423px;
    height: 162px;
    top: 745px;
    left: 58px;
  }
  
  .institution-creation .school-requirement {
    width: 164px;
    height: 162px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .institution-creation .overlap-group-2 {
    position: relative;
    width: 162px;
    height: 162px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #0048ff61;
    box-shadow: 0px 4px 36px #0000001a;
  }
  
  .institution-creation .upload-cloud {
    position: absolute;
    width: 67px;
    height: 67px;
    top: 18px;
    left: 41px;
  }
  
  .institution-creation .upload-requirement {
    position: absolute;
    width: 129px;
    height: 57px;
    top: 82px;
    left: 11px;
    font-family: "Avenir-Heavy", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.64px;
    line-height: 19.0px;
  }
  
  .institution-creation .document-by-niasc {
    position: absolute;
    width: 164px;
    height: 162px;
    top: 0;
    left: 261px;
  }
  
  .institution-creation .overlap {
    position: relative;
    width: 162px;
    height: 162px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #0048ff66;
    box-shadow: 0px 4px 27.1px #0000001a;
  }
  
  .institution-creation .upload-cloud-2 {
    position: absolute;
    width: 67px;
    height: 67px;
    top: 14px;
    left: 46px;
  }
  
  .institution-creation .upload-your-school {
    position: absolute;
    width: 129px;
    height: 57px;
    top: 80px;
    left: 15px;
    font-family: "Avenir-Heavy", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.64px;
    line-height: 19.0px;
  }
  
  .institution-creation .submit {
    position: absolute;
    width: 430px;
    height: 47px;
    top: 929px;
    left: 58px;
  }
  
  .institution-creation .submit-your-wrapper {
    position: relative;
    width: 428px;
    height: 47px;
    background-color: #1971ff;
    border-radius: 7px;
    border: 1px solid;
    border-color: #147aff;
    box-shadow: 0px 4px 26.5px #00000030;
  }
  
  .institution-creation .submit-your {
    position: absolute;
    height: 20px;
    top: 13px;
    left: 93px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.80px;
    line-height: normal;
  }
  
  .institution-creation .top-title {
    position: absolute;
    width: 651px;
    height: 48px;
    top: 38px;
    left: 19px;
  }
  
  .institution-creation .caution-on-what-to {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 601px;
    background-image: url(./img/alert-square.svg);
    background-size: 100% 100%;
  }
  
  .institution-creation .APPLICATION-FORM-FOR {
    position: absolute;
    width: 538px;
    height: 36px;
    top: 8px;
    left: 49px;
    font-family: "Avenir-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.80px;
    line-height: normal;
  }
  
  .institution-creation .arrow-back {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 0;
  }
  