:root {
  --primary-col: #003333;
  --secondary-col: ;
  --hover-col: #008080;
  --light-white-col: #f5f5f5;
  --white-col: #fff;
  --low-dark: #656565;
  --col-dark: #333;
  --dark: #14141f;

  /* colors */
  --col-deepgreen: #011e30;

  --col-green: #3dbda9;
  --col-mid-green: #84c1b4;
  --col-light-green: #d8f1ee;

  --col-red: #c30f0f;
  --col-mid-red: #ffbaba;
  --col-light-red: #f4cccc;

  --col-violet: #765fe4;
  --col-lighviolet: #978cd7;
  --col-small-violet: #a097d9;

  --col-deep-blue: #217dff;
  --col-blue: #2a99e1;
  --col-small-blue: #60a7d8;
  --col-ligh-tblue: #cceafe;

  --col-deep-orange: #b05f1a;
  --col-orange: #ef8b36;
  --col-mid-orange: #e18b47;
  --col-light-orange: #fce2cb;

  --col-blue-white: #e4defe;
  --col-otherwhite: #d9d9d9;
  --col-white: #f6f7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* will change the font family */
  font-family: "Rubik", sans-serif;
  margin: 0;
  background-color: var(--light);
  color: var(--col-dark);
  font-size: 1rem;
  font-weight: 400;

  display: flex;
}

/************ Admission..general stying to some pages *********/
/* #live__admission {
  height: 503.209px;
}

#recent__admission {
  height: 330px;
}

#card_main_container {
  margin-top: 6rem;
}

#pending_card {
  height: 116.071px;
} */

/************ Script Styling *********/
.btn__navigate.active {
  background-color: var(--hover-col);
  border-radius: 11px;
  padding: 1.8rem 3rem;
}

.navigation.close {
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.main__container.active {
  grid-template-columns: 1fr;
}

.overall__main {
  height: 1110px;
}

.pending__left-content.width {
  width: 80%;
}

.see_all.width {
  width: 14%;
}

/************ General Styling *********/
/* grids */
.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2-cols2 {
  grid-template-columns: 30% 70%;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* flex */
.flex {
  display: flex;
  align-items: center;
}

.btn {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--dark);
  border-radius: 11px;
  cursor: pointer;
  transform: background 0.3s, color 0.3s;
}

/**** main container ***/
.main,
.main__header {
  width: 100%;
}

.main__main-content {
  background: var(--light-white-col);
  /* height: auto; */
  height: 1060px;
}

.main__card-container {
  margin: 0rem 4.8rem;
  padding: 3.2rem 0rem;
}

.content__area {
  margin: 0rem 4.8rem 4rem;
  height: auto;
}

/************ Aside Navigation *********/
.navigation {
  position: relative;
  background-color: var(--primary-col);
  color: var(--white-col);
  width: 300px;
  height: auto;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.header__content {
  padding: 2rem 0rem 2rem 2rem;
  border-bottom: 1px solid var(--white-col);
}

.logo__container {
  max-width: 100rem;
}

/* Will change this when the transparent logo comes */
.logo__container h1 {
  font-size: 4.4rem;
}

.logo__container span {
  font-weight: 400;
}

.logo__container img {
  width: 8%;
  object-fit: cover;
  filter: invert(1);
}

.info__container {
  margin-top: 0.5rem;
  gap: 0.5rem;
}

/* img__con im making this to behave like a button I think I have to add hover to this or? */
.img__con {
  width: 5rem;
  height: 5rem;
  background-color: var(--white-col);
  border: 2px solid var(--white-col);
  border-radius: 50%;
  cursor: pointer;
}

.info__texts {
  font-size: 1.8rem;
}

.management__email {
  font-size: 1.4rem;
}

.nav__one {
  height: 72vh;
  border-bottom: 1px solid var(--white-col);
}

.nav__two {
  height: 20vh;
}

.navigation__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.btn__navigate {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;

  background: transparent;
  color: var(--white-col);
  margin: 0.6rem 1.5rem;
  padding: 1.8rem 3rem;
  border: none;
  font-size: 2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.btn__navigate:hover {
  background-color: var(--hover-col);
  border-radius: 11px;
}

.border_bottom {
  border-top: 1px solid var(--white-col);
  margin-top: 50rem;
}

.log-out__container {
  position: absolute;
  bottom: 0;
}

.btn-logout {
  position: absolute;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  color: rgba(255, 72, 0, 0.903);
  margin: 0.6rem 1.5rem;
  padding: 1.3rem;
  border: none;
  font-size: 2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;

  /* will keep changing this due to the heigh of the page */
  bottom: 0;
}

.btn-logout:hover {
  color: var(--white-col);
}

/************ Main Header *********/
.main__header {
  background-color: var(--white-col);
  box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.1);
}

.main__nav {
  justify-content: space-between;
  padding: 2rem 4.4rem 2rem 2rem;
}

.btn__main {
  border: none;
  background: transparent;
  font-size: 2.4rem;
  cursor: pointer;
}

.btn__notification {
  transform: rotate(-30deg);
}

.main__card-container h1 {
  color: var(--dark);
  font-size: 3rem;
  margin-bottom: 1.8rem;
}

.card__container {
  gap: 4rem;
}

.card {
  border: 1px solid;
  border-radius: 11px;
}

.card_green {
  background-color: #0080802a;
  border-color: #008080;
}

.col_green {
  color: #008080;
}

.border_green {
  border-bottom: 1px solid #008080;
}

.card_violet {
  background-color: #af6eff48;
  border-color: #af6efffd;
}

.col_violet {
  color: #af6efffd;
}

.border_violet {
  border-bottom: 1px solid #af6efffd;
}

.card_orange {
  background-color: #ff89035d;
  border-color: #ff8903fb;
}

.col_orange {
  color: #ff8903fb;
}

.border_orange {
  border-bottom: 1px solid #ff8903fb;
}

.card_lightblue {
  background-color: #039eff49;
  border-color: #039efffc;
}

.col_lightblue {
  color: #039efffc;
}

.border_lightblue {
  border-bottom: 1px solid #039efffc;
}

.card__header {
  padding: 2rem;
  gap: 0.8rem;
}

.card__header span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-col);
  width: 3rem;
  height: 3rem;
}

.card__header span i {
  font-size: 1.5rem;
}

.card__header p:first-child {
  font-size: 1.6rem;
  font-weight: 700;
}

.card__header p:last-child {
  font-size: 1.2rem;
  font-weight: 500;
}

.card__footer {
  justify-content: space-between;
  padding: 1rem 2rem;
}

.card__footer_m {
  justify-content: center;
  padding: 1rem 2rem;
}

.btn_m {
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn_m span {
  border: 1px solid;
  border-radius: 3px;
  padding: 0.4rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.btn_m:hover p {
  border-bottom: 1px solid;
}

.card__footer p,
.card__footer button {
  font-size: 1.4rem;
}

.card__footer button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/************ Dashboard Section *********/
.dashboard__section {
  grid-template-rows: 60% 40%;
  gap: 4rem;
  margin-bottom: 4rem;
}

.live__activity-container {
  background-color: var(--white-col);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.2);
}

.recent__pending-container {
  background-color: var(--white-col);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.2);
}

.live__activity-header h1 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.live__activity-card {
  gap: 2rem;
}

.activity__card {
  box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  transition: all 0.4s;
  height: 55rem;
}

.activity__card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.image-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.1);
}

.card__content {
  padding: 2rem;
}

.card__content h1 {
  font-size: 2rem;
  color: var(--dark);
}

.card__content p {
  font-size: 1.6rem;
}

.card__content .creted_text {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.first_ctext {
  margin-bottom: 3.4rem;
}

.card_mid_content {
  margin-top: 1.2rem;
}

.card_mid_content p:first-child,
.card_mid_content p:nth-child(3) {
  font-weight: 600;
}

.card_mid_content p:nth-child(3):not(.ending_text) {
  color: red;
}

.card_mid_content p:first-child,
.card_mid_content .ending_text {
  color: var(--hover-col);
}

.card_mid_content p:nth-child(2) {
  margin-right: 0.8rem;
}

.approval__students {
  text-align: center;
  gap: 0.4rem;
  margin: 0.6rem 0rem;
  color: var(--low-dark);
}

.approval__students span i {
  font-size: 1.8rem;
  font-weight: 700;
}

.approval__students p {
  margin-top: 0.2rem;
}

.progress__container {
  margin-top: 1.2rem;
  justify-content: space-between;
}

/* this isn't showing now  */
.show_progress {
  width: 100%;
  height: 20%;
  background-color: var(--hover-col);
}

/* Pending styling */
.pending__heading {
  justify-content: space-between;
  margin-right: 1.5rem;
}

.see_all {
  margin-bottom: 2.5rem;
  border: 1px solid #039efffc;
  background: #039eff49;
  padding: 1rem 5rem;
  text-align: center;
  white-space: nowrap;
  transform: background-color 0.3s, color 0.3s;
}

.see_all:hover {
  background: #039efffc;
  color: var(--white-col);
}

.dashboardnext__card-container {
  column-gap: 3rem;
  row-gap: 2rem;
}

.pending__card {
  border: 2px solid #0080802a;
  grid-template-columns: 70% 30%;
  gap: 1rem;
  padding: 2.5rem 2rem;
  border-radius: 30px;
}

.pending__left-content {
  width: 95%;
  grid-template-columns: 30% 70%;
  gap: 0.6rem;
}

.pending__left-content img {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--white-col);
  border-radius: 11px;
}

.personinfo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-top: 0.4rem;
  white-space: nowrap;
}

.program {
  justify-content: space-between;
  gap: 2rem;
}

.program p {
  font-size: 1.6rem;
}

.level {
  gap: 0.4rem;
}

.level span i {
  color: #ddd;
}

.personinfo__container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--dark);
}

.approval {
  gap: 0.6rem;
  white-space: nowrap;
  justify-content: space-between;
}

.date {
  gap: 0.4rem;
}

.personinfo__container .approval p,
.personinfo__container .approval span {
  font-size: 1.6rem;
  color: var(--col-dark);
}

.personinfo__container .approval span {
  font-size: 1.6rem;
}

.pending__right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.approval_btn {
  width: 100%;
  border: 1px solid #008080;
  background: #0080802a;
  transform: background-color 0.3s, color 0.3s;
}

.decline_btn {
  width: 100%;
  border: 1px solid #ff0307ff;
  background: #ff032558;
  color: #ff0307ff;
  transform: background-color 0.3s, color 0.3s;
}

.approval_btn:hover {
  background: #008080;
  color: var(--white-col);
}

.decline_btn:hover {
  background: #ff0307ff;
  color: var(--white-col);
}

/************ Manager *********/
.managers__header {
  justify-content: space-between;
}

.managers__header h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark);
}

.sort_btn {
  width: 18%;
  border: none;
  padding: 0.6rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 11px;
  cursor: pointer;
}

.sort_btn:focus {
  outline: none;
}

.sort_btn option {
  font-size: 1.4rem;
  font-weight: 600;
}

.initial_content_container {
  margin-top: 3rem;
  height: 110rem;
  overflow-y: auto;
}

.initial_content_container::-webkit-scrollbar {
  display: none;
}

.manager_content_container {
  margin-top: 2rem;
}

.manager_content_container h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--col-violet);
}

.initial_title {
  justify-content: space-between;
  margin: 2rem 30rem 0.8rem 20rem;
}

.initial_title p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #0c0cacd6;
}

.initial_content {
  grid-template-columns: 25% 15% 15% 15% 30%;
  background-color: var(--white-col);
  padding: 2rem 3rem;
  border-radius: 5px;
}

.person_details,
.program_title,
.course_title,
.program_level {
  justify-content: space-between;
  margin-right: 2rem;
  border-right: 2px solid;
}

.person_img {
  width: 8rem;
  height: 8rem;
  background-color: #003333;
  border-radius: 5px;
}

.person_details p {
  width: 60%;
}

.person_details p,
.program_title p,
.course_title p,
.program_level p,
.manager_salary p {
  font-size: 1.6rem;
  color: var(--col-dark);
}

.manager_salary {
  justify-content: space-between;
}

.salary_btn_container {
  gap: 1.5rem;
}

.salary_btn_container button:first-child {
  justify-content: center;
  gap: 0.7rem;
  border: 1px solid var(--col-green);
  background-color: var(--col-light-green);
  padding: 0.4rem 1.5rem;
  border-radius: 17px;
  font-size: 1.4rem;
  font-weight: 500;
  transition: background-color 0.4s;
  cursor: pointer;
}

.salary_btn_container button:first-child span {
  font-size: 2.5rem;
  font-weight: 600;
}

.salary_btn_container button:first-child:hover {
  background-color: var(--col-green);
}

.salary_btn_container button:not(:first-child) {
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--col-otherwhite);
  padding: 1rem;
  border: 1px solid var(--col-otherwhite);
  border-radius: 50%;
  font-size: 1.8rem;
  transition: background-color 0.4s, border 0.4s;
  cursor: pointer;
}

.salary_btn_container button:last-child {
  font-size: 3rem;
  font-weight: 500;
}

.salary_btn_container button:not(:first-child):hover {
  background-color: var(--col-white);
  border: 1px solid var(--col-otherwhite);
}

/************ Admission *********/
.admission_section {
  display: flex;
  flex-direction: column;
}

.admission_navigation {
  justify-content: space-between;
  padding: 3rem 4rem;
}

.admission_navigation form {
  width: 40%;
}

.admission_search {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.4rem;
  border: 1px solid var(--col-otherwhite);
  color: var(--col-dark);
  background-color: transparent;
  border-radius: 8px;
}

.admission_search:focus {
  outline: none;
}

.admission_sort {
  width: 17%;
}

.admission_program_sort {
  width: 20%;
}

.admission_sort,
.admission_program_sort {
  border: 1px solid var(--col-otherwhite);
  padding: 1.4rem 0.8rem;
}

.admission_navigation button {
  width: 15%;
  justify-content: center;
  background-color: #4e2a0b;
  color: var(--white-col);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.1rem 4rem;
  border: 1px solid #4e2a0b;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.4s, color 0.4s;
}

.admission_navigation button span {
  font-size: 2rem;
}

.admission_navigation button:hover {
  color: #4e2a0b;
  background-color: transparent;
}

.admission_content_container {
  position: relative;
  padding: 2rem 3rem;
  height: 700px;
}

.admission_content_header {
  justify-content: space-between;
}

.admission_content_header h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark);
}

.admission_content_header button {
  border: 1px solid var(--col-otherwhite);
  border-radius: 8px;
  background-color: transparent;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.4s;
}

.admission_content_header button span {
  font-size: 1.8rem;
}

.admission_content_header button:hover {
  background-color: var(--col-otherwhite);
}

.admission_content {
  margin-top: 4rem;
}

.admission_initials {
  justify-content: space-between;
  margin: 0rem 8rem 1rem 20rem;
}

.admission_initials p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark);
}

.contents__admission {
  width: 100%;
}

.admisson_content_display {
  width: 100%;
  justify-content: space-between;
}

.admisson_content_display div {
  border: none;
}

.admission_person {
  gap: 1rem;
}

.admission_person_img {
  width: 5rem;
  height: 5rem;
  background-color: var(--col-otherwhite);
  border-radius: 50%;
}

.person_details_con {
  line-height: 1.2;
  white-space: nowrap;
}

.person_details_con p:first-child {
  font-weight: 600;
}

.person_details_con p,
.admission_title p,
.program_date p {
  font-size: 1.6rem;
  color: var(--dark);
}

.course_pending p {
  background-color: var(--col-light-orange);
  color: var(--col-orange);
  padding: 0.8rem 1.5rem;
  border-radius: 11px;
  font-size: 1.6rem;
}

.admission_approval {
  justify-content: center;
  gap: 1rem;
}

.admission_approval button:first-child {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
}

.admission_approval button:first-child span {
  font-size: 3rem;
  font-weight: 600;
}

.admission_approval button:not(:first-child) {
  background-color: transparent;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 3rem;
  transition: background-color 0.4s, border 0.4s;
  cursor: pointer;
}

.admission_approval button:last-child {
  color: var(--col-red);
}

.admission_approval button:last-child:hover {
  background-color: var(--col-light-red);
  border: 1px solid var(--col-red);
}

.admission_approval button:nth-child(2) {
  color: var(--col-green);
}

.admission_approval button:nth-child(2):hover {
  background-color: var(--col-light-green);
  border: 1px solid var(--col-green);
}

.inner_contents__admission input {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--col-otherwhite);
  cursor: pointer;
}

.admisson_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--col-otherwhite);
  padding: 2rem;
  margin-bottom: 2rem;
}

.admisson_footer p {
  font-size: 1.3rem;
  font-weight: 600;
}

/************ *********/
/* 
1. Typography System (font-size)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

2. Spacing System (Padding / Margin)
    2 / 4 / 8 / 12 / 32 / 48 / 64 / 80 / 96 / 128

3. Font-width
    default: 400
    medium: 500
    semi-large: 600
    large: 700

4. line-height
    default: 
    smaill: 
    medium: 

5. letter-sapcing

6. Colors
    primary: 
    Tints: 
    Shade: 
    Accents: 
    Grayes:
 */
