* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aside-heading {
  margin-bottom: 1rem;
}

.select {
  display: block;
  height: 1.8rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.8rem;
  background-color: transparent;
}

.select:focus {
  outline: 1px solid #5c3bfd;
  box-shadow: none;
  border: 1px solid #5c3bfd;
}

label {
  font-size: 0.8rem;
  color: #5a5a5a;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;

  padding: 2% 4%;
  height: 100vh;
}

.container {
  margin-bottom: 2rem;
}

.aside-heading {
  color: #333;
}

.container > h1 {
  margin-bottom: 0.3rem;
  color: #333;
}

.container > p {
  font-size: small;
  /* color: rgb(88, 88, 88); */
  color: #5a5a5a;
}

form {
  display: flex;
  gap: 5rem;
  width: 100%;
}

aside {
  flex: 1.2;
}

.filter-heading {
  font-size: small;
  color: #414040;
  margin-bottom: 0.3rem;
}

.filters {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-bottom: 0.3rem;
}

/* ########### main area  #################*/

.area {
  flex: 5;
}

.area > .big-input {
  width: 100%;
  height: 1.8rem;
  border: 1.3px solid #c6c6c6;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.big-input > input {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
}

.big-input > input:focus {
  outline: none;
}

.mid-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.left > p {
  font-size: 0.8rem;
  color: #878787;
}

.mid-select {
  display: flex;
  border: 1px solid #c6c6c6;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.mid-select span {
  font-size: 0.8rem;
}

.mid-select select {
  border: none;
  outline: none;
  font-size: 0.8rem;
  background-color: transparent;
}

.mid-select select:focus {
  outline: none;
}

.first-svg {
  background-color: #5c3bfd;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.right {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

/* #######  center   ######### */

.center {
  width: 100%;
}

.school-list {
  display: flex;
  gap: 1rem;
  justify-items: center;
  margin-bottom: 1rem;
}

.card {
  height: 21rem;

  width: 13rem;
  overflow: hidden;
  border-radius: 0.4rem;
  transition: ease-in-out 400ms;
}

.card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card:hover {
  transform: scale(0.98);
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.head div {
  line-clamp: 2;
  height: 2rem;
  overflow: hidden;
}
.head > div > h5 {
  font-size: small;
  width: 80%;
  font-weight: 700;
  line-clamp: 2;
  overflow: hidden;
  height: 2rem;
}

.head > div > p {
  font-size: 0.7rem;
  background-color: #baf9ba;
  border-radius: 20px;
  padding: 0.1rem 0.4rem;
}
.location {
  color: #797979;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.accommodation {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.3rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #797979;
  font-size: 0.7rem;
}

.programs {
  display: flex;
  font-size: 0.6rem;
  gap: 0.3rem;
  margin-bottom: 0.9rem;
}

.programs > p {
  background-color: #e7e7e7;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.btn {
  text-decoration: none;
  background-color: #5c3bfd;
  color: white;

  margin: 0 auto;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.box {
  height: 2rem;
  background-color: #5c3bfd;
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  transition: ease-in-out 400ms;
}

.box:hover {
  transform: scale(0.98);
}

.box > a {
  text-decoration: none;
  color: white;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer > div > p {
  color: #797979;
  font-size: 0.8rem;
  align-items: center;
}

.pagination {
  display: flex;

  width: 23%;
  justify-content: space-evenly;
  gap: 0.6rem;
  align-items: center;
}

.pagination > button {
  border: none;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  transition: ease-in-out 300ms;
  font-size: 0.8rem;
  border-radius: 0.4rem;
}

.page {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 0.2rem;
}

.page.active {
  background-color: #5c3bfd;
  color: #fff;
  font-weight: bold;
}

.prev.disabled,
.next.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:not(.disabled):hover {
  background-color: #dcdcdc;
}
