@media (max-width: 96em) {
  html {
    font-size: 50%;
  }

  /* Javascript */
  .see_all.width {
    width: 13.5%;
  }

  .admission_scroll.width {
    width: 1286px;
  }

  .admission_scroll_card.width {
    width: 37rem;
    transition: width 0.5s ease;
  }

  .border_bottom {
    margin-top: 20rem;
  }

  .admission_scroll_card {
    width: 31rem;
  }

  /* Navigation */
  .nav__one {
    height: 75vh;
  }

  .nav__two {
    height: 30vh;
  }

  /* Dashboard */
  .pending__heading h1,
  .live__activity-header h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .activity__card {
    height: 321px;
  }

  .image-container {
    height: 38%;
  }

  .card__content {
    padding: 2rem;
  }

  .card__content h1 {
    font-size: 1.9rem;
  }

  .card__content p {
    font-size: 1.4rem;
  }

  .first_ctext {
    margin-bottom: 3rem;
  }

  .progress__container {
    margin-top: 1rem;
  }

  .show_progress {
    margin-top: 1rem;
  }

  .recent__pending_container {
    margin-top: 0.5rem;
  }

  .dashboardnext__card-container {
    row-gap: 1.5rem;
  }

  .pending__card {
    grid-template-columns: 70% 28%;
    gap: 2rem;
    padding: 2rem 1.8rem;
  }

  .pending__left-content {
    width: 90%;
    grid-template-columns: 30% 68%;
    gap: 1rem;
  }

  /* Manager form */
  .hold_select_position span {
    left: 366px;
  }

  .inn_four .hold_select_position span {
    left: 376px;
  }

  .course_search_cont span {
    right: 235px;
  }

  /* Admission */
  .admission_select_con span {
    top: 10px;
  }

  .admission_scroll {
    width: 1035px;
  }

  .admission_scroll_card {
    width: 29rem;
  }

  /* Grading */
  #performanceChart {
    margin-top: 0rem;
  }
}
