<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <title>footer</title>
</head>
<body>
    <div class="footer">

        <div class="overall-section-container">

            <section class="section-container">
                <h3>SUBSCRIBE</h3>
                <hr>
                <input type="email" id="email" placeholder="Enter Your Mail Here">
                <p>Subscribe To Our Newsletter</p>
                <P>CONNECT WITH US ON</p>
                <hr>
                <img class="socials-logo" src="/assets/logo/SocialsLogo.png">
            </section>
    
            <section class="section-container">
                <h3>ONLINE SERVICES</h3>
                <hr>
                <ul>
                    <li><a href="#">Admission Portal</a></li>
                    <li><a href="#">Check Admission Status</a></li>
                    <li><a href="#">Help Desk Room</a></li>
                    <li><a href="#">Pay Your Fees</a></li>
                    <li><a href="#">Educational Resources</a></li>
                </ul>
            </section>
    
            <section class="section-container">
                <h3>SUPPORT PORTALNEST</h3>
                <hr>
                <p class="support-message">
                    Support Portalnest's vision and help us take a giant 
                    leap towards revolutionizing student connectivity. Your
                    donation will contribute to creating an ultra-moder, 
                    secure, and user-friendly platform that connects thousands 
                    of students and institutions seamlessly
                </p>
            </section>
        </div>

        <div class="copyright">
            <p>&copy; 2025 PortalNest | T: +233 597 959 032 | E: support@portalnest.com | Ghana Post GPS: AK-385-1973</p>
        </div>
    </div>
</body>
</html>