<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">
    <link rel="stylesheet" href="/style/header.css">


</head>
<body>
    <div class="overall-header">
        <div class="topBG-image-content">
            <div class="topBG-container">
                <section class="logo-and-header">
                    <img class="portalnest-logo" src="/assets/logo/portalnest logo.png">
                        <!-- Hamburger Icon -->
                  <div class="hamburger-menu" onclick="toggleMenu()">
                       <span></span>
                       <span></span>
                       <span></span>
                 </div>
                <div class="full-header" >
                    <nav class="header">
                        <a id="home" href= "/index.html">
                            <div>HOME</div>
                        </a>
                        <a id="services" href="/pages/services.html">
                            <div>SERVICES</div>
                        </a>
                        <a id="about-us" href="/pages/about-us.html">
                            <div>ABOUT US</div>
                        </a>
                        <a id="contact-us" href="/pages/contact-us.html">
                            <div>CONTACT US</div>
                        </a>
                    </nav>
                    <a id="get-started"   href="/pages/Get-Started.html">
                        <button class="get-started">GET STARTED</button>
                    </a>   
                </div>
                </section>
                <section class="page-message">
                    <div class="page-message-content">
                        <p class="connect">CONNECT TO YOUR STUDENTS</p>
                        <p class="everywhere">EVERYWHERE, ANYWHERE</p>
                        <a id="add-your-school" href="/pages/Get-Started.html">
                            <button class="add-school-button">WANT TO ADD YOUR SCHOOL?</button>
                        </a>
                    </div>
                </section>
                
            </div>
        </div>
        <section class="middle-bar">
            <a id="t-and-c" href="/components/Previews-T&C.html">
                <span class="middle-bar-icons">
                    <img class="icons" src="/assets/images/Security Shield.png">
                    <p>terms and conditions</p>
                    <img class="arrow-up-icon" src="/assets/icons/ArrowUpContained.png">
                </span>
            </a>
        
            <a id="admission-portal" href="/pages/admission/gain-admission.html">
                <span class="middle-bar-icons">
                    <img class="icons" src="/assets/icons/Clipboard.png">
                    <p>admission portal</p>
                    <img class="arrow-up-icon" src="/assets/icons/ArrowUpContained.png">
                </span>
            </a>
        
            <a id="admin-dashboard" href="/pages/School-Managers/index.html">
                <span class="middle-bar-icons">
                    <img class="icons" src="/assets/icons/AudioSettings.png">
                    <p>admin dashboard</p>
                    <img class="arrow-up-icon" src="/assets/icons/ArrowUpContained.png">
                </span>
            </a>
        
            <a id="student-portal" class="active" href="/pages/Student-Portal/index.html">
                <span class="middle-bar-icons">
                    <img style="filter: invert(0)" class="icons" src="/assets/images/Student Studying.png">
                    <p>student portal</p>
                    <img class="arrow-up-icon" src="/assets/icons/ArrowUpContained.png">
                </span>
            </a>
        
            <a id="school-search" href="/pages/Miscellaneous/school-search.html">
                <span class="middle-bar-icons">
                    <img class="icons" src="/assets/images/Listening-To-Feedback.png">
                    <p>school search</p>
                    <img class="arrow-up-icon" src="/assets/icons/ArrowUpContained.png">
                </span>
            </a>            
        </section>

    </div>
    <script>
        function toggleMenu() {
    document.querySelector(".full-header").classList.toggle("active");
}
    </script>

</body>
</html>

