<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/style/header.css">
</head>
<body>
    
<div class="topBG-image-content">
    <div class="topBG-container">
        
        <div class="logo-and-header">
            <img class="portalnest-logo" src="/assets/logo/portalnest logo.png">
            <nav class="header">
                <a id="home" href="#">
                    <div>HOME</div>
                </a>
                <a id="services" href="services.html">
                    <div>SERVICES</div>
                </a>
                <a id="about-us" href="about-us.html">
                    <div>ABOUT US</div>
                </a>
                <a id="contact-us" href="contact-us.html">
                    <div>CONTACT US</div>
                </a>
                <a id="get-started"  href="#">
                    <button class="get-started">GET STARTED</button>
                </a>                         
            </nav>
        </div>
        <div class="page-message">
            <p class="connect">CONNECT TO YOUR STUDENTS</p>
            <p class="everywhere">EVERYWHERE, ANYWHERE</p>
            <a id="add-your-school" href="#">
                <button class="add-school-button">WANT TO ADD YOUR SCHOOL?</button>
            </a>
        </div>
    </div>
</div>


</body>
</html>
