/************ Admission *********/
.admission_section {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  
  .admission_navigation {
    height: 100px;
    justify-content: space-between;
    /* padding: 3rem 4rem; */
  }
  
  .admission_navigation form {
    width: 40%;
  }
  
  .admission_search {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    border: 1px solid var(--col-otherwhite);
    color: var(--col-dark);
    background-color: transparent;
    border-radius: 8px;
  }
  
  .admission_search:focus {
    outline: none;
  }
  
  .container_admission_sort {
    width: 40%;
    justify-content: space-between;
    gap: 2.5rem;
  }
  
  .admission_select_con {
    position: relative;
  }
  
  /* Check the html of this */
  .admission_select_con span {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 2rem;
    /* cursor: pointer; */
  }
  
  .admission_sort {
    width: 130px;
  }
  
  .admission_program_sort {
    width: 200px;
    border: none;
    padding: 0.6rem 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 11px;
    cursor: pointer;
  }
  
  .admission_sort,
  .admission_program_sort {
    border: 1px solid var(--col-otherwhite);
    padding: 1.4rem 0.8rem;
  }
  
  .student_mang_header button,
  .admission_navigation button {
    width: 15%;
    justify-content: center;
    gap: 0.2rem;
    background-color: #4e2a0b;
    color: var(--white-col);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.8rem 4rem;
    /* padding: 1.4rem 4rem; */
    border: 1px solid #4e2a0b;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.4s, color 0.4s;
  }
  
  .student_mang_header button span,
  .admission_navigation button span {
    font-size: 2rem;
    margin-top: 0.2rem;
  }
  
  .student_mang_header button:hover,
  .admission_navigation button:hover {
    color: #4e2a0b;
    background-color: transparent;
  }
  
  .admission_content_container {
    position: relative;
    padding: 2rem 3rem;
    height: 435px;
    /* height: 700px; */
  }
  
  .admission_content_header {
    justify-content: space-between;
  }
  
  .admission_content_header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
  }
  
  .admission_content_header button {
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--col-otherwhite);
    border-radius: 8px;
    background-color: transparent;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  .admission_content_header button span {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .admission_content_header button:hover {
    background-color: var(--col-otherwhite);
  }
  
  .admission_content {
    margin-top: 4rem;
  }
  
  .admission_initials {
    justify-content: space-between;
    margin: 0rem 8rem 1rem 20rem;
  }
  
  .admission_initials p {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--dark);
  }
  
  .contents__admission {
    width: 100%;
  }
  
  .admisson_content_display {
    width: 100%;
    justify-content: space-between;
  }

  .admisson_content_display2 {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .person_details {
    width: none;
  }
  
  .admisson_content_display div {
    justify-content: space-between;
  }
  
  .admission_person {
    gap: 1rem;
    align-items: center;
  }
  
  .admission_person_img {
    width: 5rem;
    height: 5rem;
    background-color: var(--col-otherwhite);
    border-radius: 50%;
  }
  
  .person_details_con {
    line-height: 1.2;
    white-space: nowrap;
  }
  
  .person_details_con p:first-child {
    font-weight: 600;
  }
  
  .person_details_con p,
  .admission_title p,
  .program_date p {
    font-size: 1.6rem;
    color: var(--dark);
  }
  
  .course_pending p {
    background-color: var(--col-light-orange);
    color: var(--col-orange);
    padding: 0.8rem 1.5rem;
    border-radius: 11px;
    font-size: 1.6rem;
  }
  
  .admission_approval {
    justify-content: center;
    gap: 1rem;
  }
  
  .admission_approval button:first-child {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .admission_approval button:first-child span {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .admission_approval button:not(:first-child) {
    background-color: transparent;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 3rem;
    transition: background-color 0.4s, border 0.4s;
    cursor: pointer;
  }
  
  .admission_approval button:last-child {
    color: var(--col-red);
  }
  
  .admission_approval button:last-child:hover {
    background-color: var(--col-light-red);
    border: 1px solid var(--col-red);
  }
  
  .admission_approval button:nth-child(2) {
    color: var(--col-green);
  }
  
  .admission_approval button:nth-child(2):hover {
    background-color: var(--col-light-green);
    border: 1px solid var(--col-green);
  }
  
  .inner_contents__admission input {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--col-otherwhite);
    cursor: pointer;
  }

  .inner_contents__admission {
    width: 100%;

  }
  
  .admisson_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--col-otherwhite);
    padding: 2rem;
  }
  
  .admisson_footer p {
    font-size: 1.3rem;
    font-weight: 600;
  }