
/************ Grading *********/
.inner_grading_container {
    height: 1020px;
    overflow-y: auto;
  }
  
  .grading_sorted {
    justify-content: right;
    width: 53.8%;
    gap: 3rem;
  }
  
  .grading_section {
    margin-top: 8rem;
  }
  
  .grading_inner_container {
    height: 450px;
  }
  
  .grading_initials {
    justify-content: space-between;
    margin: 0rem 4rem 0rem 10rem;
  }
  
  .grading_contents {
    margin: 0;
  }
  
  .grading__container {
    margin-top: 8rem;
    gap: 4rem;
  }
  
  .grading__card {
    background-color: var(--white-col);
    padding: 2rem;
    border-radius: 11px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40rem;
  }
  
  .grading__card h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
  }
  
  #performanceChart {
    width: 50%;
    margin-top: 5rem;
  }
  
  .piechat {
    justify-content: center;
    width: 100%;
    height: 220px;
  }
  